<div style="font-family: 'Merriweather', Georgia, serif;">

<p>{{_("Dear")}} {{ first_name }}{% if last_name %} {{ last_name}}{% endif %},</p>

<p>{{_("We received a request to reset your password for your Foundations for a Legal Education (FLE) account.")}}</p>

<p>{{_("To set a new password, please click the link below:")}}:</p>

<p style="margin: 15px 0px;">
	<a href="{{ link }}" rel="nofollow" class="btn btn-primary">{{_("Reset your password")}}</a>
</p>

<br>
<p>{{_("Warm regards,")}}</p>

<table cellpadding="0" cellspacing="0" border="0" style="margin-top: 10px;">
	<tr>
		<td style="padding-right: 15px; vertical-align: middle; border-right: 2px solid #ccc;">
			<img src="/files/nlsiu-logo.jpg" alt="NLSIU Logo" style="max-height: 70px; width: auto; display: block;">
		</td>
		<td style="padding-left: 15px; vertical-align: middle;">
			<strong>FLE Programme Team</strong><br>
			<a href="https://pace.nls.ac.in/programmes/foundations-for-a-legal-education" style="color: #1a73e8; text-decoration: none;">Foundations for a Legal Education</a><br>
			National Law School of India University<br>
			Website: <a href="https://pace.nls.ac.in" style="color: #1a73e8; text-decoration: none;">pace.nls.ac.in</a>
		</td>
	</tr>
</table>

</div>
