<p>{{_("Dear")}} {{ first_name }}{% if last_name %} {{ last_name}}{% endif %},</p>

<p>{{_("We received a request to reset your password for your Foundations for a Legal Education (FLE) account.")}}</p>

<p>{{_("To set a new password, please click the link below:")}}:</p>

<p style="margin: 15px 0px;">
	<a href="{{ link }}" rel="nofollow" class="btn btn-primary">{{_("Reset your password")}}</a>
</p>

<br>
<p>{{_("Warm regards,")}}</p>

<p>
	<img src="/files/nlsiu-logo.jpg" alt="NLSIU Logo" style="max-height: 60px; margin-bottom: 8px;"><br>
	<strong>FLE Programme Team</strong><br>
	Foundations for a Legal Education<br>
	National Law School of India University<br>
	Website: <a href="https://pace.nls.ac.in">pace.nls.ac.in</a>
</p>
