<div style="font-family: 'Merriweather', Georgia, serif;">

<p>{{_("Dear")}} {{ first_name }}{% if last_name %} {{ last_name }}{% endif %},</p>

<p>{{_("Your registration for <strong>Foundations for a Legal Education (FLE) 2026</strong> has been successfully completed. We are glad to welcome you to the programme!")}}</p>

<p>{{_("You may review your application details and access your payment receipt using the links below:")}}</p>

<p style="margin: 10px 0px;">
	<a href="{{ application_link }}" rel="nofollow" class="btn btn-primary" style="margin-right: 10px;">{{_("View your application details")}}</a>
	<a href="{{ receipt_link }}" rel="nofollow" class="btn btn-secondary">{{_("Payment receipt")}}</a>
</p>

<p>{{_("You will receive access to our learning management system (LMS) a few days before the course begins, where you will be able to view reading materials and begin preparing for the course.")}}</p>

<p>{{_("We look forward to learning with you and hope you find the programme engaging and enriching.")}}</p>

<p>{{_("If you need any assistance, please write to us at:")}} <a href="mailto:fle@nls.ac.in">fle@nls.ac.in</a></p>

<br>
<p>{{_("Warm regards,")}}</p>

<table cellpadding="0" cellspacing="0" border="0" style="margin-top: 10px;">
	<tr>
		<td style="padding-right: 15px; vertical-align: middle; border-right: 2px solid #ccc;">
			<img src="/files/nlsiu-logo.jpg" alt="NLSIU Logo" style="max-height: 70px; width: auto; display: block;">
		</td>
		<td style="padding-left: 15px; vertical-align: middle;">
			<strong>FLE Programme Team</strong><br>
			<a href="https://pace.nls.ac.in/programmes/foundations-for-a-legal-education" style="color: #1a73e8; text-decoration: none;">Foundations for a Legal Education</a><br>
			National Law School of India University<br>
			Website: <a href="https://pace.nls.ac.in" style="color: #1a73e8; text-decoration: none;">pace.nls.ac.in</a>
		</td>
	</tr>
</table>

</div>
